*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	background: black;
}

.web video {
	width: 100%;
}

.hp {
	display: none;
}

@media screen and (max-width: 1082px) {
	.web {
		display: none;
	}

	.hp {
		display: block;
	}

	.hp video {
		width: 100%;
	}
}
